# Ignorar archivos específicos
Practice2/ejercicio1/ejercicio1.exe
Practice2/ejercicio1/ejercicio1-2.exe
Practice2/ejercicio2/ejercicio2.exe
Practice2/ejercicio2/ejercicio2-1.exe
Practice2/ejercicio2/ficheroA.dat
Practice2/ejercicio2/ficheroB.dat
Threads/Threads_Windows_Iteration.exe
Threads/Threads_Windows_Sum.exe

# Ignorar directorio .vscode
.vscode/
