# Ignorar archivos específicos
Basics/sample1.exe
Basics/sample2.exe
Basics/sample3.exe
Basics/sample4.exe
Basics/sample5.exe
File_Manipulation_Linux/ejercicio1/ejercicio1.exe
File_Manipulation_Linux/ejercicio1/ejercicio1-2.exe
File_Manipulation_Linux/ejercicio2/ejercicio2.exe
File_Manipulation_Linux/ejercicio2/ejercicio2-1.exe
File_Manipulation_Linux/ejercicio2/ficheroA.dat
File_Manipulation_Linux/ejercicio2/ficheroB.dat
Threads/Threads_Windows_Iteration.exe
Threads/Threads_Windows_Sum.exe
Threads2/pthread_create.exe
Threads2/pthread_detach.exe
Threads2/pthread_exit.exe
Threads2/pthread_join.exe
Threads2/pthread_kill.exe
Threads2/pthread_self.exe
Threads2/thread1.exe
Threads2/thread2.exe
Thread_Planners/FCFS.exe
# Ignorar directorio .vscode
.vscode/
